jupyter_client==8.6.0
jupyter_core==5.7.1
jupyterlab-widgets==3.0.9
matplotlib==3.8.2
matplotlib-inline==0.1.6
more-itertools==10.2.0
numpy==1.25.1
perceval-quandela==0.10.3
plotly==5.18.0
scipy==1.11.4
sympy==1.10.1
